@page
@model Storage_Management_Application.Pages.ReceiptPageModel
@{
    ViewData["Title"] = "Поступления";
}


    <h2 class="text-center mb-4">Поступления</h2>

<a asp-page="/CreatePages/CreateReceiptPage" class="btn btn-primary mb-3">Добавить поступление</a>

    <div id="activeReceiptsSection">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Дата</th>
                    <th>Ресурс</th>
                    <th>Ед. изм.</th>
                    <th>Количество</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Receipts != null && Model.Receipts.Any())
                {
                    foreach (var receipt in Model.Receipts)
                    {
                        var resources = receipt.ReceiptResources;

                        if (resources.Any())
                        {
                            var resourceCount = resources.Count;
                            bool firstRow = true;
                            foreach (var res in resources)
                            {
                                <tr class="selectable-row">
                                    @if (firstRow)
                                    {
                                        <td rowspan="@resourceCount">@receipt.Number</td>
                                        <td rowspan="@resourceCount">@receipt.Date.ToShortDateString()</td>
                                        firstRow = false;
                                    }
                                    <td>@(res.Resource?.Name ?? "-")</td>
                                    <td>@(res.UnitsOM?.Name ?? "-")</td>
                                    <td>@res.Quantity</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td>@receipt.Number</td>
                                <td>@receipt.Date.ToShortDateString()</td>
                                <td colspan="3" class="text-muted text-center">Нет ресурсов</td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">Нет данных</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

